<h1>All Litters</h1>

<% @litters.each do |litter| %>
  <h2><%= link_to litter.name, litter_path(litter) %></h2>
<% end %>


<%= link_to "create a litter", new_breeder_litter_path, class: "btn-secondary-pup" %>
</br>
<%= link_to "home page", root_path, class: "btn-primary-pup" %>
