<div class="container">
  <div class="header-sec">
    <div>
      <h1><span class="mark-parent"><span class="marc"></span>Application</span>Form</h1>
    </div>
    <div>
      <img src="<%= image_path 'pablo-no-connection.png' %>" style="opacity: .9; height: 275px; width: 450px; object-fit: cover;" />
    </div>
  </div>

  <%= render 'form', visitation: @visitation %>
</div>
