.breed-info-card {
  background-color: #fdf9fe;
  padding: 24px 12px;
  border-radius: $border-radius;
  width: 300px;
  padding-bottom: 12px;
}

.info-map {
  height: 225px;
  width: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding-left: 12px;
  margin-top: 12px;
  text-size: 8px !important;
}

@media (max-width: 420px) {
  .about-us-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .breed-info-card {
    margin: auto;
    margin-top: 20px;
  }

  .header-sec {
    margin-top: 30px;
  }

  .parent-cards {
    margin-left: 15px;
  }

  #parent-show-img {
    max-width: 80%;
  }

  .modal-dialog {
    max-width: 100%;
  }
}
