.homepage-title {
  padding-top: 24px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.homepage-image {

  width: 546px;
  height: 372px;
}

.middle-section {
  text-align: center;
  margin-bottom: 100px;
}

.bottom-section {
 /* display: flex;
  justify-content: flex-end;*/
  text-align: right;
  margin-bottom: 100px;
}
