.header-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.puppy-card {
 display: flex;
 justify-content: center;
}

.parent-card-litter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}
