.header-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.puppy-card {
 display: flex;
 justify-content: center;
}

.parent-card-litter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.show-img {
  max-width: 500px;
  max-height: auto;
}

#parent-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-parent {
  margin-top: 30px;
  display: flex;
  flex-grow: 4;
}

#parent-description p {
  font-size: medium;
}