<div class="breed-cards">
  <% @breeds.reverse_each do |breed|%>
    <%= link_to breed_path(breed.id) do %>
      <div class="breed-category draw-border" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cl_image_path breed.photo.key %>)">
        <%= breed.name %>
      </div>
    <% end %>
  <% end %>
</div>

