<div class="container">
  <h1>All breeds</h1>

  <% @breeds.reverse_each do |breed|%>
    <h2><%= link_to breed.name, breed_path(breed.id) %></h2>
  <% end %>

  <br>
  <br>

  <%= link_to "Create a breed", new_breed_path, class: "btn-primary-pup" %>

  <br>
  <br>
  <%= link_to "home page", root_path, class: "btn-secondary-pup" %>
</div>
