<div class="container">
  <div class="header-sec" style="margin-bottom: 32px;">
    <div>
      <h1 class="breed-title-move"><span class="mark-parent"><span class="marc"></span>Discover</span> <br>Breeds</h1>
      <p>Find which breed fits your needs</p>
    </div>
    <div>
      <img src="<%= image_path 'pablo-unsubscribed.png' %>" style="opacity: .9; height: 275px; width: 500px; object-fit: cover; border-radius: 4px;"/>
    </div>
  </div>

  <div class="space"></div>

  <div>
    <%= render 'breed_cards' %>
  </div>

  <div class="space"></div>
</div>
