<div class="container">
  <div class="header-sec" style="margin-bottom: 32px;">
    <div>
      <h1 class="breed-title-move"><span class="mark-parent"><span class="marc"></span>Discover</span> <br>Breeds <br>in Montreal</h1>
    </div>
    <div>
      <img class="breed-picture-move" src="<%= image_path 'pablo-unsubscribed.png' %>" style="opacity: .9; height: 275px; width: 500px; object-fit: cover; border-radius: 4px;"/>
    </div>
  </div>

  <div>
    <%= render 'breed_cards' %>
  </div>

  <div class="space"></div>
</div>
