<div class="footer">
  <div class="container">
    <div class="footer-links-icons">
      <a href="https://github.com/HazyHazzy/pup" target="blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      2021 | Made with <i class="fas fa-heart"></i> by PuP
    </div>
  </div>
</div>
