<div class="footer">
  <div class="container">
  <div class="footer-links">
    <a href="#" class="footer-item">About Us</a>
    <a href="#" class="footer-item">Join Our Team</a>
    <a href="#" class="footer-item">Privacy</a>
    <a href="#" class="footer-item">Need Help?</a>
  </div>
  <div class="footer-links-icons">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    2021 | Made with <i class="fas fa-heart"></i> by PuP
  </div>
  </div>
 <!--  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at PuP
  </div> -->
</div>
