<div class="puppies-cards">
  <% @litter.puppies.each do |puppy| %>
    <div class="card-puppies">
      <img src="<%= image_path 'dalmoation_puppy.jpg' %>" />
      <div class="card-puppies-infos">
        <div>
          <h2><%= link_to puppy.name, puppy_path(puppy), class: "puppies-name" %></h2>
          <p class="p-card"><%= puppy.gender %></p>
        </div>
        <p class="p-card"><%= puppy.coat %></p>
      </div>
    </div>
  <% end %>
</div>
