<div class="container">

  <div class="top-section">
    <div>
      <h1 class="homepage-title">Find your<br><span class="mark-parent"><span class="marc"></span>Best</span> Friend</h1>

      <p>Connecting Dog Lovers with <br>Reputable Breeders in their area</p>
    </div>
    <div>
      <%= image_tag 'Homepage-img.png', class: "homepage-image" %>
    </div>
  </div>



  <div class="middle-section">
    <h2>Our <span class="highlight-parent"><span class="highlight"></span>Mission</span></h2>
    <p>Boudin drumstick frankfurter, pork tri-tip shank kevin brisket pork loin
       chicken swine. Strip steak flank short ribs buffalo, pastrami ham hock
       filet mignon bresaola tri-tip shank. Jowl ham picanha short loin chuck.
       Chuck hamburger salami, strip steak jowl ham hock spare ribs jerky corned
       beef pancetta meatball sausage. Ground round bacon short ribs landjaeger,
       rump drumstick shank kevin meatball ribeye.</p>
  </div>



  <div class="bottom-section">
    <div>
      <h2>Only <span class="highlight-parent"><span class="highlight"></span>Verified</span><br>Breeders</h2>
        <p>Finding a dog shouldn’t be stressful. With <br>
           PuP’s list of verified breeders you have a peice
           <br>of mind when welcoming a new family member
        </p>
    </div>
  </div>

</div>
