<div class="top-section">
  <h1>Find your Best friend</h1>
  <p>Connecting Dog Lovers with Reputable Breeders in their area</p>
  <%= image_tag 'homepage-image-1.png', class: "homepage-image" %>
</div>


<div class="middle-section">
  <h2>Our Mission</h2>
  <p>Boudin drumstick frankfurter, pork tri-tip shank kevin brisket pork loin
     chicken swine. Strip steak flank short ribs buffalo, pastrami ham hock
     filet mignon bresaola tri-tip shank. Jowl ham picanha short loin chuck.
     Chuck hamburger salami, strip steak jowl ham hock spare ribs jerky corned
     beef pancetta meatball sausage. Ground round bacon short ribs landjaeger,
     rump drumstick shank kevin meatball ribeye.</p>
</div>

<div class="bottom-section">
  <h2>Only Verified Breeders</h2>
    <p>Finding a dog shouldn’t be stressful. With
       PuP’s list of verified breeders you have a peice
       of mind when welcoming a new family member</p>
</div>



