<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1><%= link_to "search all breeders", breeders_path %></h1>
<h1><%= link_to "search all breeds", breeds_path %></h1>
<h1><%= link_to "my brand page", my_brand_path %></h1>
<h1><%= link_to "my requests page", my_requests_path %></h1>
