<h1>my brand page</h1>

<%= link_to "create a breeder", new_breeder_path, class: "btn btn-outline-dark" %>


<h1>all my litters</h1>



<h1>visitation Inquiry</h1>
<% @my_visitations.reverse_each do |visitation| %>
  <h2>
    Request for visitation from <%= visitation.name %>
  </h2>
  <%= link_to "look into details for this visitation", edit_breeder_visitation_path(visitation.breeder_id, visitation.id), class: "btn btn-outline-dark" %>
<% end %>

</br>
<%= link_to "home page", root_path, class: "btn btn-dark popular" %>
