<h1>Your visitation requests</h1>

<% @my_visitations.reverse_each do |visitation| %>
<li>
    visitation for <%= visitation.breeder.name %> is <%= visitation.status %>
</li>
<% end %>

</br>
<%= link_to "home page", root_path, class: "btn btn-dark popular" %>
