.about-breeder {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-breeder {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 330px;
  border-radius: $border-radius;
}

.card-breeder > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-breeder h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-breeder p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-breeder .card-breeder-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.breeder-cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.breeder-name {
  color: $font-color;
}

.breeder-name:hover {
  color: $font-color;
  text-decoration:none
}

.draw-border {
  // -webkit-transition: color 0.25s 0.01s;
  // transition: color 10s 10s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 3px;
  border-left-width: 3px;
}

.draw-border::after {
  border-top-width: 3px;
  border-right-width: 3px;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #d100ff;
  -webkit-transition: border-color 0s, width 0.5s, height 0.5s;
  transition: border-color 0s, width 0.5s, height 0.5s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.5s;
  transition-delay: 0s, 0s, 0.5s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.5s, 0s;
  transition-delay: 0s, 0.5s, 0s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d100ff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media(max-width: 992px) {
  .breeder-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .breeder-cards {
    grid-template-columns: 1fr;
  }
}

