.btn-primary-pup {
  background-color: #d100ff; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: Fjalla One;
  letter-spacing: .5px;
  transition: background 0.3s ease;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
}

.btn-primary-pup:hover {
  text-decoration: none;
  color: white;
  background-color: #be00e8;
}

.btn-secondary-pup {
  background-color: #313131; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Lato;
  letter-spacing: .4px;
  transition: background 0.3s ease;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
}

.btn-secondary-pup:hover {
  text-decoration: none;
  color: white;
  background-color: #262626;
}
