.search-homepage {
  margin-top: -50px;
  margin-bottom: 100px;
}

.search-homepage form {
  display: flex;

}


.search-homepage .btn-primary-pup {
  width:80px;
  transform: translateX(-50px);
  height: 48px;


}

.search-homepage .form-control {
  width: 647px;
  height: 48px;
  position: relative;
}

