.card-visitation {
  margin-bottom: 24px;
  height: 120px;
  transform: translate(0%, 0%);
  transition: .5s;
  &:hover .card-front {
      transform: rotateX(-180deg);}
  &:hover .card-back {
      transform: rotateX(0deg);}
}

.card-visitation h2 {
  margin-top: 30px;
}

.card-visitation h3 {
  margin-top: 30px;
}

.card-front {
  height: 100%;
  width: 50%;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F6CCFF;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: .5s;
  text-align: center;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F6CCFF;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-back p {
  font-size: 20px;
  font-family: Lato;
  color: $font-color;
}

.personal-info-1 {
  display: flex;
  justify-content: space-between;
}

.personal-info-2 {
  display: flex;
  justify-content: space-between;
}

.visitation-decision {
  overflow: hidden;
  height: 250px;
  width: 300px;
  align-items: center;
  background-color: #F6CCFF;
  margin: auto;
  border-radius: 10%;
}

.visitation-decision h2 {
  margin-top: 8px;
  margin-left: 15px;
}

.visitation-decision .btn-primary-pup {
  margin-left: 15px;
}

.visitor-info {
  width: 600px;
}

.visitation-edit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.visitation-margin {
  margin-bottom: 10px;
}
