.card-visitation {
  margin-bottom: 24px;
  height: 120px;
  transform: translate(0%, 0%);
  transition: 0.5s;
  &:hover .card-front {
      transform: rotateX(-180deg);}
  &:hover .card-back {
      transform: rotateX(0deg);}
}

.card-front h2 {
  margin-top: 40px;
  margin-left: 30px;
}

.card-back h3 {
  margin-top: 30px;
}

.card-front {
  height: 100%;
  width: 60%;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F6CCFF;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 1s;
  align-items: center;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F6CCFF;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 1s;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-back p {
  font-size: 20px;
  font-family: Lato;
  color: $font-color;
}

.personal-info-1 {
  display: flex;
  justify-content: space-between;
}

.personal-info-2 {
  display: flex;
  justify-content: space-between;
}

.visitation-decision {
  overflow: hidden;
  height: 260px;
  width: 300px;
  align-items: center;
  background-color: #F6CCFF;
  margin: auto;
  border-radius: 10%;
  position: sticky;
  top: 280px;
  bottom: 120px;
  left: 700px;
}

.visitation-decision h2 {
  margin-top: 15px;
  margin-left: 25px;
}

.visitation-decision .btn-primary-pup {
  margin-left: 25px;
}

.visitor-card {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 560px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: $border-radius;
}

.visitor-card p {
  width: 540px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.visitor-card h2 {
  width: 560px;
  margin-top: 15px;
  margin-left: 15px;
}

.visitation-edit {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 30px;
}

.visitation-margin {
  margin-bottom: 10px;
}

.decision-info {
  display: flex;
  justify-content: space-between;
}
// .visitor-info > p {
//    text-decoration: underline #be00e8;
// }

.text-underline {
  font-weight: 700;
}

.card-brand:hover {
  transform: scale(1.05) translateZ(1);
}

.visitation-blur:hover > .card-brand:not(:hover) {
  filter: brightness(0.5) saturate(1) contrast(1) blur(2px);
}

.delete-inquiry {
  margin-left: 20px;
}

.form-control.is-valid {
  background-image: none;
}
