<div class="litter-cards">
  <% @breeder.litters.reverse_each do |litter|%>
    <%= link_to litter_path(litter.id) do %>
      <div class="card-litter draw-border">
            <%= cl_image_tag litter.photo.key, crop: :fill, class: 'show-img' if litter.photo.attached? %>
          <div class="card-litter-infos">
            <div>
              <h2><%= litter.name %></h2>
              <p><%= litter.birth_date %></p>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>



