<div class="container">
  <h1><span class="mark-parent"><span class="marc"></span>Discover</span> Breeders in Montreal</h1>
  <div class="row-container">
    <div class="row">
      <%= render 'breeder_cards'%>
    </div>
  </div>
  <div class="space"></div>
</div>



