<div class="container">

  <div class="header-sec" style="margin-bottom: 32px;">
    <div>
      <h1><span class="mark-parent"><span class="marc"></span>Discover</span> <br>Breeders <br>in Montreal</h1>
      <p>Who is taking care of your best friend</p>
    </div>
    <div>
      <img src="<%= image_path 'pablo-searching.png' %>" style="opacity: .9; height: 275px; width: 500px; object-fit: cover; border-radius: 4px;"/>
    </div>
  </div>

  <div class="space"></div>

  <div class="row-container">
    <div class="row">
      <%= render 'breeder_cards'%>
    </div>
  </div>
  <div class="space"></div>
</div>



