<div class="container">
  <h1>All breeders</h1>

  <% @breeders.reverse_each do |breeder|%>
    <h2><%= link_to breeder.name, breeder_path(breeder.id) %></h2>
  <% end %>

  <br>
  <br>

  <%= link_to "create a breeder", new_breeder_path, class: "btn-primary-pup" %>

  <br>
  <br>

  <%= link_to "home page", root_path, class: "btn-secondary-pup" %>
</div>
